@if (isLoading) {
  <p>Loading cats...</p>
} @else if (isLoading === false && images.length === 0) {
  <p>No cats found.</p>
} @else {
    <div class="cats-grid">
        @for (image of images; track image.id) {
            <div class="cat-card">
                <img [src]="image.url" [alt]="image.breeds[0].description" class="cat-image" loading="lazy"/>
                <div class="cat-card-info">
                    <span>ID: {{ image.id }}</span>
                </div>
            </div>
        }
    </div>
}